extends ../extend/default

block variables
    - var title = 'About';
block header
block main
    include ../partials/_preloader
    main.content(data-page='about')
        +header('always_white')
        section.about_main
            .container
                .uikit__large_title.about_main__title.mad_title
                    h2 About GMS
                .about_main__description
                    .desc_item
                        p We are an international company with strong expertise in messaging services. Being pioneers in A2P and P2P monetization and leaders in the CIS market for more than ten years, we have expanded globally, with now about 200 mobile operators worldwide directly connected with GMS. Ever since, we have been the pioneers in the messaging industry because our mission is to bring progress to our partners.
                    .desc_item
                        p While we want your business to grow and reach the next level of communication, we offer all of our profound knowledge of the market, create turnkey solutions of the highest quality, and tailor them perfectly to fit your needs. On this background, our bold vision is to become the leader and the ambassador for trusted and transparent messaging worldwide.
        section.coverage.coverage--about
            .container
                .coverage__content
                    //+link-balls('Discover our coverage')(href='#', className='coverage__link')
                        +svg('file')
                    .coverage__title_wrap
                        .uikit__large_title.coverage__title
                            h2 Coverage
                        p.uikit__paragraph GMS is your one-stop shop for worldwide communications. Our network encompasses about 900 mobile operators in 200 countries, over 200 directly connected to GMS.
                    .coverage__items
                        -
                            var coverage = [
                            { title: '11', text: '11 years of industry leadership' },
                            { title: '900', text: 'over 900 mobile operators in 200 countries' },
                            { title: '200', text: 'over 200 mobile operators directly connected' },
                            { title: '20', text: '20 MNOs’ successful monetization cases' },
                            { title: '300', text: 'over 300 enterprises worldwide' },
                            { title: 'CIS', text: 'largest GSMA Compliant messaging provider in the CIS' },
                            { title: 'ISO', text: 'ISO/IEC 27001, 9001, and ISO/IEC 20000-1 certified' },
                            { title: 'GSMA', text: 'GSMA Associate Member since 2007' }
                            ]
                        each item in coverage
                            .coverage__item
                                .fade_wrap
                                    h3=item.title
                                    p=item.text
        section.history
            .container
                .uikit__large_title.history__title.mad_title
                    h2 GMS History
                    .mad_title__balls.mad_title__balls--many
                .history__text.history__centered
                    p.uikit__paragraph We have started off in the CIS region, grew, excelled, perfected our services, and then gradually expanded globally. In 2015, we have established our headquarters and business operations in Switzerland, which marked the growth and development of our network in Europe and boosted GMS`s presence in the region.
                    p.uikit__paragraph As the world keeps changing, with trends shifting and new technologies appearing, we keep developing, improving and constantly evolving: to be able to offer the best quality of services to you, we are always one step ahead of every new trend and development in the field. Every step we have taken paved the road towards your success.
                .history__nav(data-arrow-prev='back', data-arrow-next='forward')
                    -
                        var historyNavItems = [
                        {
                        from: '2016',
                        to: '2017'
                        },
                        {
                        from: '2013',
                        to: '2015'
                        },
                        {
                        from: '2011',
                        to: '2012'
                        },
                        {
                        from: '2008',
                        to: '2010'
                        },
                        {
                        from: '2006',
                        to: '2007'
                        }
                        ]
                    each item in historyNavItems
                        .history__nav_item
                            p=item.from
                            .history__nav_separate
                                i
                                i
                                i
                            p=item.to
                .history__content.history__centered
                    .history__content_item
                        h3 Superior security and services as the cornerstone
                        ul.history__list.uikit__paragraph
                            li To meet and exceed customer expectations, we have had the business processes of Global Message Services AG, and Global Message Services Ukraine assessed, and become ISO/IEC 27001, ISO 9001 and ISO/IEC 20000-1 certified.
                            li To ensure the highest level of security of monetization services, we started to implement firewall solutions on the networks of our partners.
                            li We have expanded our business to Europe, Asia, Middle East and Africa increasing the number of our direct connections to national operators in the regions and some of the largest group operators worldwide.
                            li Having expanded our technical presence in Germany, we have achieved redundancy of our network.
                    .history__content_item
                        h3 Boosting technology background
                        ul.history__list.uikit__paragraph
                            li GMS has become fully operational in Switzerland and established its technical point of presence in Frankfurt, Germany.
                            li To enhance the way businesses communicate with their customers, we have released an innovative multichannel messaging platform – Hyber.
                            li To stay on top of the latest trends, we became the official representative of Viber for the entire CIS region.
                    .history__content_item
                        h3 Stepping up to become a partner of choice across markets
                        ul.history__list.uikit__paragraph
                            li Extending our reach to the CIS A2P market (Russia and Azerbaijan).
                            li Mobile advertising service is launched to help our partners improve their outreach.
                    .history__content_item
                        h3 Shaping up and augmenting services
                        ul.history__list.uikit__paragraph
                            li To help you to get the most from our solutions, we continue enhancing bulk SMS and MMS services. At the same time, we launch Mobile Parking payments in Kyiv.
                    .history__content_item
                        h3 Leaping from technology visionaries to leaders
                        ul.history__list.uikit__paragraph
                            li The first launch, start of work on the Openmind off-the- shelf platform.
                            li Expanding our presence through partnerships with Ukrainian, Russian and Kazakh Mobile operators.
                            li Reaching the top by becoming the first and only telecom provider of SMS services in Ukraine.
                            li Joining GSMA as an Associate Member.
        section.security_info
            .container
                .uikit__title.security_info__title.mad_title
                    h2 Information Security and Compliance
                    .mad_title__balls
                .security_info__columns
                    .security_info__col
                        p As a company working with information, we are well aware of the threats to information security, and we are committed to providing the best kind of data protection and security to our partners. With phishing, fraud, ransomware, data breaches and leaks crowding the headlines, information security is paramount. Being methodical, disciplined and alert in all business operations on all levels, staying up-to- date with the latest encryption and protection protocols, upholding the highest standards of transparency and security – all of these efforts are mandatory for telecommunications companies today. More importantly, none of these measures done once guarantee protection, because even the most secure system will become vulnerable again unless it is constantly updated. Security is not a state, it is a process, requiring a responsible attitude and daily work. At GMS, we realize the risks and put the security of our partners’ information at the top of our list of priorities.
                    .security_info__col
                        p We do not tolerate negligence when it comes to cybersecurity, and stand up to the challenge of keeping our partners’ data safe. A testament to our commitment to the global standards of quality, transparency, and security is GMS’ compliance with the industry’s regulations for security procedures and all other business operations. Organizing and systematically maintaining all levels of our operations to consistently, year over year, pass the ISO certifications is an effort and expense that we do not neglect because the security of our partners’ data is of utmost importance to GMS. ISO/IEC 27001, ISO 9001, ISO/IEC 20000-1 testify to our commitment to security and compliance. Having an impeccable compliance history, we are the perfect partner for operators looking to work with only those suppliers who can abide by the highest security and compliance standards and guarantee data protection.
                .security_info__items
                    a(href='https://ssl.ll-c.cz/admin/certificates/cert_validity_web.asp?Language_cert=en&Code_cert=B22C27C7-BB3&Print_w=web', target='_blank').security_info__item
                        .img
                            img(class='grayscale', src='static/img/security_icons/ico1.png')
                    a(href='https://ssl.ll-c.cz/admin/certificates/cert_validity_web.asp?Language_cert=en&Code_cert=055EEE83-B8D&Print_w=web', target='_blank').security_info__item
                        .img
                            img(class='grayscale', src='static/img/security_icons/ico2.png')
                    a(href='https://ssl.ll-c.cz/admin/certificates/cert_validity_web.asp?Language_cert=en&Code_cert=5ADA5F43-6E1&Print_w=web', target='_blank').security_info__item
                        .img
                            img(class='grayscale', src='static/img/security_icons/ico3.png')
        section.team
            .container
                .team__flex
                    .team__title.mad_title.uikit__large_title
                        .mad_title__balls
                        h3 Management team
                    .team__right
                        p.uikit__paragraph Our team is what drives the success of the GMS. That’s why at the steering wheel of the company are only the knowledgeable, driven leaders. With their extensive expertise in the industry, personal integrity, and unwavering commitment to GMS’ core values, our management team leads the company towards progress.
            .team__bottom
                .team__balls
                .team__items
                    -
                        var team = [
                        {
                        imageSrc: 'static/img/team/teammate1.jpg',
                        name: 'Iurii Makarenko, Managing Director',
                        link: '#'
                        },
                        {
                        imageSrc: 'static/img/team/teammate2.jpg',
                        name: 'Alexander Panov, CFO',
                        link: '#'
                        },
                        {
                        imageSrc: 'static/img/team/teammate3.jpg',
                        name: 'Natalia Makedonskaya, CHRO',
                        link: '#'
                        },
                        {
                        imageSrc: 'static/img/team/teammate4.jpg',
                        name: 'Mario Forster, CBPO & CISO',
                        link: '#'
                        },
                        {
                        imageSrc: 'static/img/team/teammate5.jpg',
                        name: 'Janis Kemers, COO',
                        link: '#'
                        },
                        {
                        imageSrc: 'static/img/team/teammate6.jpg',
                        name: 'Vitaliy Gardyuto, CTO',
                        link: '#'
                        },
                        {
                        imageSrc: 'static/img/team/teammate7.jpg',
                        name: 'Damian Bethke, CLO',
                        link: '#'
                        },
                        {
                        imageSrc: 'static/img/team/teammate8.jpg',
                        name: 'Olga Velgus, CMO',
                        link: '#'
                        }
                        ]
                    each item, index in team
                        .team__item
                            a(href=`#teammate${index + 1}`)
                                .img
                                    img(src=item.imageSrc, class='grayscale')
                                .hover
                                    .hover__text
                                        p.uikit__paragraph=item.name
                                        .pseudo_btn learn more
        section.clients
            .container
                .clients__title.title--js
                    h3.uikit__title Clients
                .clients__items
                    -
                        var clients = [
                        { image: 'static/img/clients/client1.png', href: '#' },
                        { image: 'static/img/clients/client2.png', href: '#' },
                        { image: 'static/img/clients/client3.png', href: '#' },
                        { image: 'static/img/clients/client4.png', href: '#' },
                        { image: 'static/img/clients/client5.png', href: '#' },
                        { image: 'static/img/clients/client6.png', href: '#' },
                        { image: 'static/img/clients/client7.png', href: '#' },
                        { image: 'static/img/clients/client8.png', href: '#' },
                        { image: 'static/img/clients/client9.png', href: '#' },
                        { image: 'static/img/clients/client10.png', href: '#' }
                        ]
                    each item in clients
                        .clients__item
                            .img
                                img(src=item.image, class='grayscale')
        section.association
            .container
                .association__flex
                    .association__title.mad_title.uikit__title
                        .mad_title__balls
                        h3 Associations
                    .association__right
                        p.uikit__paragraph We have put a lot of effort into developing our expertise in the field of telecommunications. Sharing this expertise, exchanging best practices and fostering cooperation helps drive the progress of the whole industry. To aid this endeavor, GMS actively participates in various organizations and associations to share experience and bring progress to the telecommunications.
                .association__items
                    .association__item
                        img(class='grayscale', src='static/img/association/logo1.png')
                    .association__item
                        img(class='grayscale', src='static/img/association/logo2.png')
                    .association__item
                        img(class='grayscale', src='static/img/association/logo3.png')
                    .association__item
                        img(class='grayscale', src='static/img/association/logo4.png')

        section.action
            .action__close
                +svg('close-ico')
            .action__overflow
                .action__convex_particles
                .actiion__slides
                    .action__slide
                        .action__slide_content
                            .container
                                p Let`s grow your business together
                    .action__slide
                        .action__slide_content
                            .container
                                p Get in touch
                                p Thanks!
                            .action__dropdown
                                .container
                                    form
                                        .form-group.form_item.input_wrap.has-success
                                            label(for='input1') Name
                                            input(id='input1')
                                            .help-block write correct name
                                        .form-group.form_item.input_wrap.has-error
                                            label(for='input2') Phone
                                            input(id='input2')
                                            .help-block write correct phone
                                        .form-group.form_item.input_wrap
                                            label(for='input3') E-mail
                                            input(id='input3')
                                            .help-block write correct e-mail
                                        .form-group.form_item.textarea_wrap.has-error
                                            label(for='input4') Tell us more about your request
                                            textarea(id='input4')
                                            .help-block write correct text
                                        .form-group.checkbox_wrap
                                            input(type='checkbox', name='checkbox', id='checkbox1')
                                            label(for='checkbox1') I agree to the Terms and Condition of processing personal data
                                        button.rect_btn
                                            span Get in touch
                                            .rect_btn__balls
                    .action__slide
                        .action__slide_content
                            .container
                                p Thanks!
    .team__modals(style='display: none;')
        .team__modal(id='teammate1')
            .team__modal_content
                h3.uikit__title Iurii Makarenko, Managing Director
                p.uikit__paragraph Having studied management with focus on marketing, Iurii Makarenko worked several years at a number of influential telecom companies in sales roles. He decided to take a career break from 2003 to 2005 to pursue a management degree at the Kiev International Institute of Management, after which he poured his knowledge and work experience into the creation of GMS in 2006. As Managing Director, Iurii’s dynamism has seen GMS grow from strength to strength since the company its establishment and he continues to be the visionary overseeing the company’s explosive expansion.
        .team__modal(id='teammate2')
            .team__modal_content
                h3.uikit__title Alexander Panov, CFO
                p.uikit__paragraph With a Master’s Degree in Finance from Kiev National Economics University, Alexander has been helming financial matters at GMS since its inception. His keen business acumen has steered GMS from a start-up to a global player. Alexander is responsible for financial and managerial planning, budgeting, financial analysis, cash flow control, communications with banks and state authorities, as well as business planning and evaulation of new products, amongst others.
        .team__modal(id='teammate3')
            .team__modal_content
                h3.uikit__title Natalia Makedonskaya, CHRO
                p.uikit__paragraph Natalia oversees the entire HR process at GMS, with her main focus being on Organization Development, Performance Management, Recruitment and Adaptation, Personnel Retention and their Training and Development including Talent Management programs. With over 10 years of extensive HR experience which includes 3 Greenfield projects and her in-depth knowledge and profound professional understanding of her chosen field, Natalia worked in key HR positions at a number of start-ups as well as established name companies before joining GMS. She graduated in English and has attended a plethora of training programs related to her field of work and received a Certificate in HR Leadership from Cornell University, USA. She is based in Kiev, Ukraine.
        .team__modal(id='teammate4')
            .team__modal_content
                h3.uikit__title Mario Forster, CBPO & CISO
                p.uikit__paragraph Mario performs the two-pronged role of CBPO and CISO at GMS. He has been instrumental in seeing to it that GMS obtained ISO certifications guided by his invaluable experience as Lead Auditor in various ISO certifications. He is a certified CISO with almost three decades of experience in the IT industry. Given the increasing threat cybersecurity poses in today’s world, Mario is passionate and focused about keeping GMS and its clients safe from such threats. In his role as CBPO, he is responsible for creating and implementing a variety of business processes that are essential for the smooth day to day running of GMS and its business.
        .team__modal(id='teammate5')
            .team__modal_content
                h3.uikit__title Janis Kemers, COO
                p.uikit__paragraph Janis Kemers, a cross-functional sales & marketing executive with deep ICT industry experience delivering sustainable growth and laser-focused execution in fast-paced high-tech companies is our COO. His career spans a wide range of leadership experiences across global markets including international business development, strategy implementation, operational transformation, cross-cultural leadership and financial management at world’s leading companies.
                p.uikit__paragraph A passionate and high integrity leader, whose multicultural mindset is vouched for by his fluency in five languages, Janis is adept at integrating and growing businesses in international environments. He drives rapi sales growth, organizational alignment, anticipates technology developments, ensures financial discipline, and applies best practices to streamline and continuously improve operations. Janis earned an EMBA from IMD in Lausanne, Switzerland, and previously a Master of Science in Computer Science from RTU and an MBA from RBS in Riga, Latvia. GMS is proud to have a man of his stature at the helm of affairs.
                p.uikit__paragraph Janis earned an EMBA from IMD in Lausanne, Switzerland, and previously a Master of Science in Computer Science from RTU and an MBA from RBS in Riga, Latvia. GMS is proud to have a man of his stature at the helm of affairs.
        .team__modal(id='teammate6')
            .team__modal_content
                h3.uikit__title Vitaliy Gardyuto, CTO
                p.uikit__paragraph A consistent internal award winner at all his employers throughout his illustrious career, Vitaliy is vastly experienced in his chosen line of work, both by education and by profession. Before he commenced charting his destiny with GMS, he helmed the technical side of things at several big names in the CIS telecom world, successfully overseeing technical projects essential to the growth of those companies. In Vitaliy, GMS has a CTO who lives and breathes his work and who has, together with the CISO, helped GMS to obtain vitally important ISO certifications.
        .team__modal(id='teammate7')
            .team__modal_content
                h3.uikit__title Damian Bethke, CLO
                p.uikit__paragraph After obtaining his Bachelor’s and Master’s degree in Law at the University of Zurich, Damian decided to spread his wings and travelled to South East Asia, where he continued his education. His work experience reflects his internationalism: after working at a renowned boutique law firm in Switzerland, Damian combined his interest in social causes with his legal skills, interning at a social venture in China. He went on to co-found a social venture company dedicated to the betterment of differently-abled children, before returning to Switzerland and joining GMS. Damian heads the global legal department, covering business, corporate, and regulatory topics, particularly, telco regulation, data protection, IP, licensing, contract, etc.and is part of the think tank responsible for the company's strategic growth.
        .team__modal(id='teammate8')
            .team__modal_content
                h3.uikit__title Olga Velgus, CMO
                p.uikit__paragraph A highly experienced Marketing and Communications professional, Olga came on board GMS to help the company successfully navigate its rapid international growth phase. Her deep understanding and insight of the field comes from her work experience at agencies as well as companies and gives her the invaluable ability to parlay the importance of marketing into the success and advancement of the company and makes her a crucial part of GMS. Apart from a Master’s Degree in Marketing, she also holds a Diploma in Public Relations and brings clarity of thought and coherence of vision to the table.



